/*font-family: 'Playfair Display SC', serif;
font-family: 'Special Elite', cursive;*/
.times-new-roman {
font-family: 'Times New Roman', Times, serif;
}

.arial-helvetica {
font-family: ariel;helvitica 
}
.Cambria{
font-family: cambria, cochin, georgia,times, 'times new roman'
times newroman sheriefe }


.Playfair Display SC { 
font-family: 'Playfair Display SC', serif
}
..Special Elite{
    font-family: 'Special Elite', cursive
}

body{
    background-color:#b5c678
    font-size: 1.3rem;
}
article{
  article: #0c374d 
  margin: 2rem 10%;
  padding: 2rem;

}
h1, h2, h3 {
    color:#0c374d
    text-align: center;

}
h2{
    letter-spacing: 0.3rem;
}
sup a{
    text-decoration: none;
    color:black
    font-size: 1rem;
}
sup a:hover{
    color: red
}

article p {
    margin:3rem;
}

article p:First-letter {
    font-size:3rem;
}

footer a{
    color: black;
    text-decoration: none;

}

footer a: hover {
    color: gray; 
}